<div *ngIf="cover" class="cover-form-container">
  <h2>Edit Cover</h2>
  <form (ngSubmit)="onSubmit()" #bookForm="ngForm" class="cover-form">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" [(ngModel)]="cover.title" name="title" id="title" required />
    </div>

    <div class="form-group">
      <label for="digitalOnly">Digital Only</label>
      <input type="checkbox" [(ngModel)]="cover.digitalOnly" name="digitalOnly" id="digitalOnly" required />
    </div>

    <div class="form-group">
  <label for="bookId">Made for Book:</label>
  <select [(ngModel)]="cover.bookId" name="bookId" id="bookId" required>
    <option *ngFor="let book of books" [ngValue]="book.id">
      {{ book.title }} (By {{ book.author.firstName }} {{ book.author.lastName}})
    </option>
  </select>
</div>

    <div class="form-group">
  <label>Artists:</label>
  <div *ngFor="let artist of artists">
    <input
      type="checkbox"
      [value]="artist.id"
      name="artistIds"
      [checked]="artistIds.includes(artist.id)"
      (change)="onArtistToggle($event)"
    />
    {{ artist.firstName }} {{ artist.lastName }}
  </div>
</div>

    <div class="button-group">
      <button type="button" class="btn btn-danger" (click)="onDelete()">Delete Cover</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
