<div class="cover-form-container">
  <h2>Edit Cover</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="editCoverForm" class="cover-form">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" formControlName="title" name="title" id="title" required />
        <div *ngIf="editCoverForm.get('title')?.touched && editCoverForm.get('title')?.invalid" class="error">
        <div *ngIf="editCoverForm.get('title')?.errors?.['required']">
        A Title is required.
        </div>
        <div
          *ngIf="editCoverForm.get('title')?.touched && editCoverForm.get('title')?.errors?.['maxlength']"
          class="error"
        >
          Title cannot exceed
          {{ editCoverForm.get('title')?.errors?.['maxlength']?.requiredLength }}
          characters. You entered
          {{ editCoverForm.get('title')?.errors?.['maxlength']?.actualLength }}
          characters.
        </div>
      </div> 
    </div>

    <div class="form-group">
      <label for="digitalOnly">Digital Only</label>
      <input type="checkbox" formControlName="digitalOnly" name="digitalOnly" id="digitalOnly" />
    </div>

    <div class="form-group">
  <label for="bookId">Made for Book:</label>
  <select formControlName="bookId" name="bookId" id="bookId" required>
    <option *ngFor="let book of books" [ngValue]="book.id">
      {{ book.title }} (By {{ book.author.firstName }} {{ book.author.lastName}})
    </option>
  </select>
   <div *ngIf="editCoverForm.get('bookId')?.touched && editCoverForm.get('bookId')?.invalid" class="error">
        <div *ngIf="editCoverForm.get('bookId')?.errors?.['required']">
        A book is required.
        </div>
      </div> 
</div>

    <div class="form-group">
  <label>Artists:</label>
  <div *ngFor="let artist of artists">
    <input type="checkbox" [value]="artist.id" name="artistIds" [checked]="artistIds.includes(artist.id)" (change)="onArtistToggle($event)"/>
    {{ artist.firstName }} {{ artist.lastName }}
  </div>
  <div *ngIf="editCoverForm.get('artistIds')?.touched && editCoverForm.get('artistIds')?.invalid" class="error">
        <div *ngIf="editCoverForm.get('artistIds')?.errors?.['required']">
        An author is required.
        </div>
      </div> 
</div>

    <div class="button-group">
      <button type="button" class="btn btn-danger" (click)="onDelete()">Delete Cover</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
