<div *ngIf="author" class="author-form-container">
  <h2>Edit Author</h2>
  <form (ngSubmit)="onSubmit()" #authorForm="ngForm" class="author-form">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" [(ngModel)]="author.firstName" name="firstName" id="firstName" required />
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" [(ngModel)]="author.lastName" name="lastName" id="lastName" required />
    </div>

    <div class="form-group">
      <label for="nationality">Nationality:</label>
      <input type="text" [(ngModel)]="author.nationality" name="nationality" id="nationality" />
    </div>
    <div class="form-group">
      <label for="last-publish">Last Published Book:</label>
      <input type="text" [(ngModel)]="author.lastPublishedBook" name="last-publish" id="last-publish" />
    </div>

    <div class="form-group">
      <label for="number-of-books">Number of Books Published:</label>
      <input type="text" [(ngModel)]="author.numberOfBooksPublished" name="number-of-books" id="number-of-books" />
    </div>

    <div class="form-group">
      <label for="dateOfBirth">Date of Birth:</label>
      <input type="date" [(ngModel)]="author.dateOfBirth" name="dateOfBirth" id="dateOfBirth" required />
    </div>

    <div class="button-group">
      <button type="button" class="btn btn-danger" (click)="onDelete()">Delete Author</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
