<div class="book-page">
  <div>
  <h2>Book List</h2>
  <button class="add-book-button" *ngIf="isAdminUser" [routerLink]="['/books/addbook']">Add Book</button>
  </div>

  <div *ngIf="books.length === 0;  else showItems">
    There are no books to display.
  </div>

</div>
<ng-template #showItems>
  <div class="book-list">
    @for (book of books; track book){
    <div class="book-card">
      <h3 class="book-title">{{ book.title }}</h3>
      <p class="book-genre"><strong>Genre:</strong> {{ book.genre }}</p>
      <p class="book-price"><strong>Price:</strong> {{ book.basePrice }} Dollars</p>
      <img src="/assets/booook.png" alt="Picture of {{ book.title }}" class="book-image">
      <button class="edit-book-button" *ngIf="isAdminUser" [routerLink]="['/books/edit', book.id]">Edit Book</button>
    </div>
}
  </div>
</ng-template>
