<div class="topnav">
  <div class="nav-left">
    <a
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a [routerLink]="['/books']" routerLinkActive="active">Books</a>
    <a [routerLink]="['/artists']" routerLinkActive="active">Artists</a>
    <a [routerLink]="['/authors']" routerLinkActive="active">Authors</a>
    <a [routerLink]="['/covers']" routerLinkActive="active">Covers</a>
  </div>
  <div class="nav-right">
    @if(!isLoggedIn){
    <a class="loginanchor" routerLink="/login" routerLinkActive="active"
      >Sign In / Sign Up</a
    >
    } @if(isLoggedIn){
      <a [routerLink]="['/profile']" routerLinkActive="active">Profile</a>
    <a class="loginanchor" (click)="logout()">Sign Out</a>
    }
  </div>
</div>
