<div class="artist-form-container">
  <h2>Add Artist</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="addArtistForm" class="artist-form">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input
        type="text"
        formControlName="firstName"
        name="firstName"
        id="firstName"
        required
      />
      <div
        *ngIf="
          addArtistForm.get('firstName')?.touched &&
          addArtistForm.get('firstName')?.invalid
        "
        class="error"
      >
        <div *ngIf="addArtistForm.get('firstName')?.errors?.['required']">
          First Name is required.
        </div>

        <div
          *ngIf="addArtistForm.get('firstName')?.touched && addArtistForm.get('firstName')?.errors?.['maxlength']"
          class="error"
        >
          First name cannot exceed
          {{ addArtistForm.get('firstName')?.errors?.['maxlength']?.requiredLength }}
          characters. You entered
          {{ addArtistForm.get('firstName')?.errors?.['maxlength']?.actualLength }}
          characters.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input
        type="text"
        formControlName="lastName"
        name="lastName"
        id="lastName"
        required
      />
      <div
        *ngIf="
          addArtistForm.get('lastName')?.touched &&
          addArtistForm.get('lastName')?.invalid
        "
        class="error"
      >
        <div *ngIf="addArtistForm.get('lastName')?.errors?.['required']">
          Last Name is required.
        </div>
        <div
          *ngIf="addArtistForm.get('lastName')?.touched && addArtistForm.get('lastName')?.errors?.['maxlength']"
          class="error"
        >
          Last name cannot exceed
          {{ addArtistForm.get('lastName')?.errors?.['maxlength']?.requiredLength }}
          characters. You entered
          {{ addArtistForm.get('lastName')?.errors?.['maxlength']?.actualLength }}
          characters.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="nationality">Nationality</label>
      <select formControlName="nationalityId" id="nationality">
        <option value="" disabled selected>Select nationality</option>
        <option *ngFor="let nat of nationalities" [value]="nat.id">
          {{ nat.countryName }}
        </option>
      </select>
      <div
        *ngIf="
          addArtistForm.get('nationalityId')?.touched &&
          addArtistForm.get('nationalityId')?.invalid
        "
      >
        Nationality is required.
      </div>
    </div>

    <div class="form-group">
      <label for="dateOfBirth">Date of Birth:</label>
      <input
        type="date"
        formControlName="dateOfBirth"
        name="dateOfBirth"
        id="dateOfBirth"
      />
      <div
        *ngIf="
          addArtistForm.get('dateOfBirth')?.touched &&
          addArtistForm.get('dateOfBirth')?.invalid
        "
        class="error"
      >
        <div *ngIf="addArtistForm.get('dateOfBirth')?.errors?.['required']">
          Date of Birth is required.
        </div>
      </div>
    </div>
    <div formGroupName="address">
      <div class="form-group">
        <label for="country">Country:</label>
        <input type="text" formControlName="country" id="country" />
      </div>
      <div class="form-group">
        <label for="state">State:</label>
        <input type="text" formControlName="state" id="state" />
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" formControlName="city" id="city" />
      </div>
      <div class="form-group">
        <label for="postalCode">Postal Code:</label>
        <input type="text" formControlName="postalCode" id="postalCode" />
      </div>
      <div class="form-group">
        <label for="street">Street:</label>
        <input type="text" formControlName="street" id="street" />
      </div>
    </div>
    <div formGroupName="contactInfo">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" formControlName="email" id="email" />
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="text" formControlName="phone" id="phone" />
      </div>
      <div class="form-group">
        <label for="website">Website:</label>
        <input type="text" formControlName="website" id="website" />
      </div>
    </div>
    <div formGroupName="socialLinks">
      <div class="form-group">
        <label for="instagram">Instagram:</label>
        <input type="text" formControlName="instagram" id="instagram" />
      </div>
      <div class="form-group">
        <label for="twitter">Twitter:</label>
        <input type="text" formControlName="twitter" id="twitter" />
      </div>
      <div class="form-group">
        <label for="website">Website:</label>
        <input type="text" formControlName="website" id="website" />
      </div>
    </div>

    <div class="button-group">
      <button type="submit" class="btn btn-primary">Add Artist</button>
    </div>
  </form>
</div>
