<div class="book-form-container">
  <h2>Edit Book</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="book-form">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" formControlName="title" name="title" id="title" required />
      <div
          *ngIf="form.get('title')?.touched && form.get('title')?.errors?.['maxlength']"
          class="error"
        >
          Title cannot exceed
          {{ form.get('title')?.errors?.['maxlength']?.requiredLength }}
          characters. You entered
          {{ form.get('title')?.errors?.['maxlength']?.actualLength }}
          characters.
        </div>
    </div>

      <div class="form-group">
      <label for="authorId">Author:</label>
      <select formControlName="authorId" name="authorId" id="authorId" required>
        <option value="">-- Select an author --</option>
        <option *ngFor="let author of authors" [value]="author.id">
          {{ author.firstName }} {{ author.lastName }}
        </option>
      </select>
      <div *ngIf="form.get('authorId')?.touched && form.get('authorId')?.invalid" class="error">
        <div *ngIf="form.get('authorId')?.errors?.['required']">
          An author is required.
        </div>
      </div>
    </div>

     <div class="form-group">
      <label for="genre">Genre:</label>
      <select
        formControlName="genreId"
        id="genre"
        class="form-control"
      >
        <option *ngFor="let genre of genres" [value]="genre.id">
          {{ genre.name }}
        </option>
      </select>
    </div>
    <div class="form-group" *ngIf="form.get('editions')?.value?.length > 0">
  <label for="editions">Editions:</label>
  <ul>
    <li *ngFor="let edition of form.get('editions')?.value">
      <strong>Format:</strong> {{ edition.format }}<br />
      <strong>Release Date:</strong> {{ edition.releaseDate | date:'yyyy-MM-dd' }}
    </li>
  </ul>
</div>

    <div class="form-group">
      <label for="published-date">Published Date:</label>
      <input type="date" formControlName="publishedDate" name="published-date" id="published-date" />
      <div *ngIf="form.get('publishedDate')?.touched && form.get('publishedDate')?.invalid" class="error">
        <div *ngIf="form.get('publishedDate')?.errors?.['required']">
        Published Date is required.
        </div>
      </div> 
    </div>


    <div class="form-group">
      <label for="number-of-pages">Number of Pages:</label>
      <input type="number" formControlName="numberOfPages" name="number-of-pages" id="number-of-pages" required />
      <div *ngIf="form.get('numberOfPages')?.errors?.['min']" class="error">
      Number of pages must be greater than 1.
    </div>
    <div
        *ngIf="form.get('numberOfPages')?.errors?.['max']"
        class="error"
      >
        Number of pages must not exceed 100000.
      </div>
    </div>

    <div class="form-group">
      <label for="base-price">Base Price:</label>
      <input type="number" formControlName="basePrice" name="base-price" id="base-price" required />
      <div *ngIf="form.get('basePrice')?.errors?.['min']" class="error">
      Base price cannot be negative.
    </div>
    <div
        *ngIf="form.get('basePrice')?.errors?.['max']"
        class="error"
      >
        Base price must not exceed 100000.
      </div>
    </div>

    <div class="button-group">
      <button type="button" class="btn btn-danger" (click)="onDelete()">Delete Book</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
