<div class="author-page">
  <h2>Authors</h2>
  <div *ngIf="authors.length === 0;  else showItems">
    There are no authors to display.
  </div>
</div>
<ng-template #showItems>
  <div class="author-list">
    @for (author of authors; track author){
    <div class="author-card">
      
      <h3 class="author-name-title">{{ author.firstName }} {{ author.lastName }}</h3>
      <h3 class="author-nationality">Nationality: {{ author.nationality }} </h3>
      <p class="author-last-published"><strong>Last Published Book:</strong> {{ author.lastPublishedBook }} </p>
      <p class="author-books-published"><strong>Books Published:</strong> {{ author.numberOfBooksPublished }} </p>
      <img src="/assets/v3_0744730.jpg" alt="Picture of {{ author.lastName }}" class="author-image">
      <button onsubmit="editAuthor(id)" class="edit-author-button" *ngIf="isAdminUser">Edit Author</button>
    </div>
  }
  </div>
</ng-template>
