<div *ngIf="artist" class="artist-form-container">
  <h2>Edit Artist</h2>
  <form (ngSubmit)="onSubmit()" #artistForm="ngForm" class="artist-form">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" [(ngModel)]="artist.firstName" name="firstName" id="firstName" required />
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" [(ngModel)]="artist.lastName" name="lastName" id="lastName" required />
    </div>

    <div class="form-group">
      <label for="nationality">Nationality:</label>
      <input type="text" [(ngModel)]="artist.nationality" name="nationality" id="nationality" />
    </div>

    <div class="form-group">
      <label for="dateOfBirth">Date of Birth:</label>
      <input type="date" [(ngModel)]="artist.dateOfBirth" name="dateOfBirth" id="dateOfBirth" required />
    </div>

    <!-- Optional: Display cover image URLs -->
    <div class="form-group">
      <label for="covers">Artist Covers:</label>
      <div *ngFor="let cover of artist.artistCovers; let i = index">
        <input type="text" [(ngModel)]="artist.artistCovers[i].coverId" name="cover{{i}}" placeholder="Cover Id" />
      </div>
    </div>

    <div class="button-group">
      <button type="submit" class="btn btn-danger" (click)="onDelete()">Delete Artist</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
