<div class="author-form-container">
  <h2>Add Artist</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="addAuthorForm" class="author-form">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input
        type="text"
        formControlName="firstName"
        name="firstName"
        id="firstName"
      />
      <div
        *ngIf="
          addAuthorForm.get('firstName')?.touched &&
          addAuthorForm.get('firstName')?.invalid
        "
        class="error"
      >
        <div *ngIf="addAuthorForm.get('firstName')?.errors?.['required']">
          First Name is required.
        </div>
        <div
          *ngIf="addAuthorForm.get('firstName')?.touched && addAuthorForm.get('firstName')?.errors?.['maxlength']"
          class="error"
        >
          First name cannot exceed
          {{ addAuthorForm.get('firstName')?.errors?.['maxlength']?.requiredLength }}
          characters. You entered
          {{ addAuthorForm.get('firstName')?.errors?.['maxlength']?.actualLength }}
          characters.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input
        type="text"
        formControlName="lastName"
        name="lastName"
        id="lastName"
      />
      <div
        *ngIf="
          addAuthorForm.get('lastName')?.touched &&
          addAuthorForm.get('lastName')?.invalid
        "
        class="error"
      >
        <div *ngIf="addAuthorForm.get('lastName')?.errors?.['required']">
          Last Name is required.
        </div>
        <div
          *ngIf="addAuthorForm.get('lastName')?.touched && addAuthorForm.get('lastName')?.errors?.['maxlength']"
          class="error"
        >
          Last name cannot exceed
          {{ addAuthorForm.get('lastName')?.errors?.['maxlength']?.requiredLength }}
          characters. You entered
          {{ addAuthorForm.get('lastName')?.errors?.['maxlength']?.actualLength }}
          characters.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="nationality">Nationality:</label>
      <select
        formControlName="nationalityId"
        id="nationality"
        class="form-control"
      >
        <option *ngFor="let nat of nationalities" [value]="nat.id">
          {{ nat.countryName }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="education">Education:</label>
      <select formControlName="educationId" id="education" class="form-control">
        <option *ngFor="let edu of educations" [value]="edu.id">
          {{ edu.degree }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="publisher">Publisher:</label>
      <select formControlName="publisherId" id="publisher" class="form-control">
        <option *ngFor="let pub of publishers" [value]="pub.id">
          {{ pub.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="date-of-birth">Date of Birth:</label>
      <input
        type="date"
        formControlName="dateOfBirth"
        name="date-of-birth"
        id="date-of-birth"
      />
      <div
        *ngIf="
          addAuthorForm.get('dateOfBirth')?.touched &&
          addAuthorForm.get('dateOfBirth')?.invalid
        "
        class="error"
      >
        <div *ngIf="addAuthorForm.get('dateOfBirth')?.errors?.['required']">
          Date of Birth is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="number-of-books">Number of Books Published</label>
      <input
        type="number"
        formControlName="numberOfBooksPublished"
        name="number-of-books"
        id="number-of-books"
      />
      <div
        *ngIf="addAuthorForm.get('numberOfBooksPublished')?.errors?.['max']"
        class="error"
      >
        Number of pages must not exceed 100000.
      </div>
    </div>

    <div class="form-group">
      <label for="lastPublishedBook">Last Published Book:</label>
      <input
        type="text"
        formControlName="lastPublishedBook"
        name="lastPublishedBook"
        id="lastPublishedBook"
      />
      <div
        *ngIf="addAuthorForm.get('lastPublishedBook')?.touched && addAuthorForm.get('lastPublishedBook')?.errors?.['maxlength']"
        class="error"
      >
        Last name cannot exceed
        {{ addAuthorForm.get('lastPublishedBook')?.errors?.['maxlength']?.requiredLength }}
        characters. You entered
        {{ addAuthorForm.get('lastPublishedBook')?.errors?.['maxlength']?.actualLength }}
        characters.
      </div>
    </div>
    <div formGroupName="address">
      <div class="form-group">
        <label for="country">Country:</label>
        <input type="text" formControlName="country" id="country" />
      </div>
      <div class="form-group">
        <label for="state">State:</label>
        <input type="text" formControlName="state" id="state" />
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" formControlName="city" id="city" />
      </div>
      <div class="form-group">
        <label for="postalCode">Postal Code:</label>
        <input type="text" formControlName="postalCode" id="postalCode" />
      </div>
      <div class="form-group">
        <label for="street">Street:</label>
        <input type="text" formControlName="street" id="street" />
      </div>
    </div>
    <div formGroupName="contactInfo">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" formControlName="email" id="email" />
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="text" formControlName="phone" id="phone" />
      </div>
      <div class="form-group">
        <label for="website">Website:</label>
        <input type="text" formControlName="website" id="website" />
      </div>
    </div>
    <div formGroupName="biography">
      <div class="form-group">
        <label for="shortBio">Short Biography:</label>
        <input type="text" formControlName="shortBio" id="shortBio" />
      </div>
      <div class="form-group">
        <label for="fullBio">Full Biography:</label>
        <input type="text" formControlName="fullBio" id="fullBio" />
      </div>
    </div>

    <div class="button-group">
      <button type="submit" class="btn btn-primary">Add Author</button>
    </div>
  </form>
</div>
