<div class="author-form-container">
  <h2>Add Artist</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="addAuthorForm" class="author-form">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" formControlName="firstName" name="firstName" id="firstName"/>
      <div *ngIf="addAuthorForm.get('firstName')?.touched && addAuthorForm.get('firstName')?.invalid" class="error">
        <div *ngIf="addAuthorForm.get('firstName')?.errors?.['required']">
        First Name is required.
        </div>
      </div>
    </div> 

      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" formControlName="lastName" name="lastName" id="lastName"/>
        <div *ngIf="addAuthorForm.get('lastName')?.touched && addAuthorForm.get('lastName')?.invalid" class="error">
        <div *ngIf="addAuthorForm.get('lastName')?.errors?.['required']">
        Last Name is required.
        </div>
      </div> 
    </div> 

    <div class="form-group">
      <label for="nationality">Nationality:</label>
      <input type="text" formControlName="nationality" name="nationality" id="nationality"/>
    </div>

    <div class="form-group">
      <label for="date-of-birth">Date of Birth:</label>
      <input type="date" formControlName="dateOfBirth" name="date-of-birth" id="date-of-birth"/>
      <div *ngIf="addAuthorForm.get('dateOfBirth')?.touched && addAuthorForm.get('dateOfBirth')?.invalid" class="error">
        <div *ngIf="addAuthorForm.get('dateOfBirth')?.errors?.['required']">
        Date of Birth is required.
        </div>
      </div> 
    </div>

     <div class="form-group">
      <label for="number-of-books">Number of Books Published</label>
      <input type="text" formControlName="numberOfBooksPublished" name="number-of-books" id="number-of-books" />
    </div>

    <div class="form-group">
      <label for="lastPublishedBook">Last Published Book:</label>
      <input type="text" formControlName="lastPublishedBook" name="lastPublishedBook" id="lastPublishedBook"/>
    </div>

    <div class="button-group">
      <button type="submit" class="btn btn-primary">Add Author</button>
    </div>
  </form>
</div>