<div class="artist-form-container">
  <h2>Edit Artist</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="editArtistForm" class="artist-form">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" formControlName="firstName" name="firstName" id="firstName" required />
      <div *ngIf="editArtistForm.get('firstName')?.touched && editArtistForm.get('firstName')?.invalid" class="error">
        <div *ngIf="editArtistForm.get('firstName')?.errors?.['required']">
        First Name is required.
        </div>
        <div
          *ngIf="editArtistForm.get('firstName')?.touched && editArtistForm.get('firstName')?.errors?.['maxlength']"
          class="error"
        >
          First name cannot exceed
          {{ editArtistForm.get('firstName')?.errors?.['maxlength']?.requiredLength }}
          characters. You entered
          {{ editArtistForm.get('firstName')?.errors?.['maxlength']?.actualLength }}
          characters.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" formControlName="lastName" name="lastName" id="lastName" required />
      <div *ngIf="editArtistForm.get('lastName')?.touched && editArtistForm.get('lastName')?.invalid" class="error">
        <div *ngIf="editArtistForm.get('lastName')?.errors?.['required']">
        Last Name is required.
        </div>
        <div
          *ngIf="editArtistForm.get('lastName')?.touched && editArtistForm.get('lastName')?.errors?.['maxlength']"
          class="error"
        >
          Last name cannot exceed
          {{ editArtistForm.get('lastName')?.errors?.['maxlength']?.requiredLength }}
          characters. You entered
          {{ editArtistForm.get('lastName')?.errors?.['maxlength']?.actualLength }}
          characters.
        </div>
      </div> 
    </div>

    <div class="form-group">
      <label for="nationality">Nationality:</label>
      <input type="text" formControlName="nationality" name="nationality" id="nationality" />
      <div
          *ngIf="editArtistForm.get('nationality')?.touched && editArtistForm.get('nationality')?.errors?.['maxlength']"
          class="error"
        >
          Last name cannot exceed
          {{ editArtistForm.get('nationality')?.errors?.['maxlength']?.requiredLength }}
          characters. You entered
          {{ editArtistForm.get('nationality')?.errors?.['maxlength']?.actualLength }}
          characters.
        </div>
    </div>

    <div class="form-group">
      <label for="dateOfBirth">Date of Birth:</label>
      <input type="date" formControlName="dateOfBirth" name="dateOfBirth" id="dateOfBirth" required />
      <div *ngIf="editArtistForm.get('dateOfBirth')?.touched && editArtistForm.get('dateOfBirth')?.invalid" class="error">
        <div *ngIf="editArtistForm.get('dateOfBirth')?.errors?.['required']">
        Date of Birth is required.
        </div>
      </div> 
    </div>

    <div class="button-group">
      <button type="button" class="btn btn-danger" (click)="onDelete()">Delete Artist</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
